*{
    margin: 0;
    padding: 0;
    font-family: Monospace;
}
body{
    margin: 15px;
    padding: 10px;
    text-align: center;
}

#disMot{
    position: absolute;
    left: 130px;
    top: 60px;
}
#disShorboMot{
    position: absolute;
    top: 150px;
    left: 50px;
    
}
.display {
    height: 200px;
    width: 100%;
    background: #ddddddde;
    border: 5px solid black;
    border-radius: 10px;
    margin: 10px 0;
    font-size: 60px;
    font-weight: 700;
    text-align: left;
    box-shadow: 0 0 20px #636363d9;
}
#all-input{
    margin:50px 0px;
}
.clothInput {
    height: 50px;
    font-size: 55px;
    margin: 15px 0;
    padding: 20px;
    text-align: center;
    outline: none;
    border: 3px solid #b791e7;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
}
.clothInput:hover{
    background: #ccf4fc99;
    transition: 0.4s;
    box-shadow: 0 0 15px black inset;
}
.btn{
    text-align: center;
}
.clothBtn{
    display: inline-block;
    font-size: 65px;
    padding: 25px;
    margin: 25px 0 0;
    width: 100%;
    background: #F3294B;
    border: none;
    border-radius: 15px;
    color: white;
    outline: none;
    font-weight: bold;
    box-shadow: 0 0 15px black;
}
.clothBtn:hover{
    background: white;
    color: #F3294B;
    border: 5px solid #F3294B;
    transition: 0.3s;
    box-shadow: 0 0 15px black inset;
}
#paraShow{
    font-size: 30px;
    margin-top: 25px;
    text-align: left;
    display: block;
    text-align: center;
}
#paraShow p{
    display: inline-block;
    font-weight: 700;
}
#paraShow hr{
    margin: 10px 0;
    border-width: 5px;
}
#paraShow h2{
    margin: 10px 0;
    font-weight: 700;
}