*{
    margin: 0;
    padding: 0;
}
body{
    margin:-5px;
    padding: 0;
    text-align: center;
    font-family: Monospace;
    background: white;
}
#body-dis {
    padding: 25px;
    background: white;
    z-index: 1;
    position: fixed;
    height: 1050px;
}
#disMot{
    position: absolute;
    left: 130px;
    top: 60px;
}
#disShorboMot{
    position: absolute;
    top: 150px;
    left: 50px;
    
}
.display {
    color: #121212d8;
    height: 200px;
    width: 98%;
    background: #ddddddde;
    border: 10px solid black;
    border-radius: 10px;
    margin: 10px 0;
    font-size: 60px;
    font-weight: 700;
    text-align: left;
    box-shadow: 0 0 20px #636363d9;
}
#all-input{
    margin:50px 0;
}
.clothInput {
    height: 50px;
    font-size: 55px;
    margin: 15px 0;
    padding: 20px;
    text-align: center;
    outline: none;
    border: 3px solid #3B3B98;
    border-radius: 15px;
    box-shadow: 0 0 15px black;
}
.width25 {
    width: 35%;
    margin:15px 20px;
}
    
.clothInput:hover{
    background: #ccf4fc99;
    transition: 0.4s;
    box-shadow: 0 0 15px black inset;
}
.btn{
    text-align: center;
}
.clothBtn{
    display: inline-block;
    font-size: 65px;
    padding: 20px 0px 10px;
    margin: 25px 0 15px;
    width: 94%;
    border: none;
    border-radius: 15px;
    outline: none;
    font-weight: bold;
    transition: 0.2s;
    border: 5px solid #4A235A;
    box-shadow: 0 0 10px black;
    background: #4A235A;
    color: white;
}
.clothBtn:active{
    background: white;
    border-color: #4A235A;
    box-shadow: 0 0 10px black inset;
    color: #4A235A;
}
#reset{
    margin-bottom: 50px;
}
#paraShow{
    font-size: 30px;
    margin-top: 2px;
    text-align: center;
    z-index: 0;
    position: relative;
    top:1100px;
}
#paraShow p{
    display: inline-block;
    font-weight: 700;
    margin: 3px 0;
}
#paraShow hr{
    margin: 10px 0;
    border-width: 5px;
}